* {
    margin: 0;
    padding: 0;
}

.fondo {
    background-image: url(../media/img/kioto-fondo-3.png);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fondo-t {
    background-image: url(../media/img/templo.png);
    display: block;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main {
    font-weight: 800;
    color: rgb(211 197 117);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5em;
    padding-top: 19%;
    font-family: "Special Gothic Expanded One";
    letter-spacing: 0.2em;
    padding-bottom: 0.2em;
    mix-blend-mode: hard-light;
}

.sub {
    color: rgb(249 201 70);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    letter-spacing: 0.3em;
    mix-blend-mode: hard-light;
}

.menu-nav {
    display: flex;
    position: fixed;
    top: 1.5em;
    left: 50%;
    gap: 5em;
    transform: translateX(-50%);
    background: rgba(226, 148, 167, 0.637);
    backdrop-filter: blur(6.5px);
    padding: 1em 2em;
    border-radius: 2.5em;
    list-style: none;
    z-index: 999;
}



.menu-nav a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-family: "Special Gothic Expanded One";
}

.menu-nav li:hover a {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
}

.menu-responsive {
    display: none;
}

.menu-barras {
    display: none;
}

#intro {
    padding-top: 8em;
    padding-bottom: 7em;
    /* background-color: #fdc8d1; */
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Special Gothic Expanded One";
    font-size: 3.5em;
    letter-spacing: 0.15em;
    color: rgb(177, 23, 44);
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 0.4em;
    font-family: "Special Gothic Expanded One";
    font-size: 2em;
    letter-spacing: 0.1em;
    color: rgb(189, 46, 65);
}

.intro-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 2em;
    gap: 5em;
}

.intro-cont > p {
    font-family: "Syne";
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.1em;
    max-width: 45%;
    line-height: 1.4;
}

.intro-cont span {
    color: rgb(177, 23, 23);
}

.img-intro {
    width: 25.5%;
    display: flex;
    justify-content: left;
    border-radius: 10%;
}

#goshuin {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#goshuin > p {
    font-family: "Syne";
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2.2em;
    font-size: 1.1em;
    max-width: 60%;
    line-height: 1.4;
    margin: 0 auto;
}

.gosh-img {
    display: flex;
    gap: 1.6em;
    justify-content: center;
    align-items: center;
    padding-bottom: 9em;
}

.gosh-img img {
    width: 19%;
    height: auto;
    object-fit: cover;
    border-radius: 8.5%;
}

.gosh {
    transition: transform 0.3s ease;
}

.gosh:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#contacto {
    background-color: rgb(255, 228, 234);
    padding-top: 7em;
}

.t-form {
    color: rgb(190, 106, 127);
}


#contacto > p {
    font-family: "Syne";
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2.2em;
    font-size: 1.1em;
    max-width: 60%;
    line-height: 1.4;
    margin: 0 auto;
}

#formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1.5em;
  padding-bottom: 8.5em;
}

.form-text {
    font-size: 1.1em;
    font-family: "Syne";
    font-weight: bold;
    display: flex;
}

input, textarea {
    display: flex;
    width: 100%; 
    height: 0.8em;
    border-radius: 2em;
    font-family: "Syne";
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(250, 233, 233);
    border: none;
    padding: 1.5em;
    max-width: 50%;
    box-shadow: 2px 2px 7px rgb(184, 131, 144);
}

span {
    color: rgb(177, 23, 23);
}

input::placeholder, textarea::placeholder {
  color: rgb(250, 233, 233);
  opacity: 1;
}

.boton {
    max-width: 15%;
    font-family: "Syne";
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
    height: 2.5em;
    color: white;
    background-color: rgb(231, 166, 182);
    cursor: pointer;
}

#enviar {
    padding-top: 2.2em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover {
    background-color: rgb(190, 106, 127);
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(226, 148, 167, 0.397);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(194, 120, 138);
  padding: 2em 3em;
  border-radius: 3em;
  text-align: center;
  width: 100%;
  height: 65vh;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(31, 7, 7, 0.3);
  position: relative;
  animation: fadeInUp 0.4s ease;
  z-index: 2;
}

.modal-content h2 {
  color: white;
  margin-bottom: 2em;
  font-family: "Special Gothic Expanded One";
  font-size: 2.8em;
  padding-top: 0.9em;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.modal-content p {
  color: white;
  padding: 0.3em;
  font-size: 1.3em;
  font-weight: lighter;
  font-family: "Syne";
}

.close {
  position: absolute;
  top: 0.6em;
  right: 0.75em;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

/* animacion ventana modal */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#footer {
    padding-top: 9vh;
    padding-bottom: 3vh;
    color: white;
    background-color: rgb(226, 148, 167);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
}

.footer-cont {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.footer-cont > div {
    flex: 1;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4em;
    padding-top: 0.5em;
    z-index: 1;
}

.logo {
    width: 32%;
    height: auto;
}

.iconos .media {
    padding-bottom: 0.5em;
}

.iconos {
    text-align: center;
    cursor: pointer;
    font-family: "Syne";
    font-weight: bold;
}

.redes-icon {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    padding-top: 0.25em;
    
}

.contacto {
    font-family: "Syne";
    font-weight: bold;
    text-align: center;
    padding-top: 0.9em;
    cursor: pointer;
}

.contacto p:first-child {
    margin-bottom: 0.5em;
}

#templos {
    padding-top: 8em;
    padding-bottom: 8em;
}

#intro-templos > p {
    font-family: "Syne";
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2.2em;
    font-size: 1.1em;
    max-width: 60%;
    line-height: 1.4;
    margin: 0 auto;
}

.t-1 > p {

    font-family: "Syne";
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2.2em;
    font-size: 1em;
    max-width: 60%;
    line-height: 1.4;
    margin: 0 auto;
    gap: 4em;
}

.t-1 > h2 {
    padding-top: 2em;
}

.maravillas {
    color: transparent;
    background: linear-gradient(
        90deg,
        #b11919,
        #c44156,
        #f58360,
        #b11919
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;

    animation: moverColores 3s linear infinite;
}

@keyframes moverColores {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}

.carrusel {
    width: 58%;
    height: 65vh;
    position: relative;
    border-radius: 2em;
    overflow: hidden;
    margin: 0.3em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel .diapos {
    display: flex;
    width: 400%;
    transition: transform 0.4s ease;
}

.carrusel img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#ubi {
    padding-top: 8em;
    padding-bottom: 4em;
}

#ubi {
    background-color: rgb(255, 228, 234);
    padding-top: 7em;
}

.t-rosa {
    color: rgb(190, 106, 127);
}

#ubi > p {
    font-family: "Syne";
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2.2em;
    font-size: 1em;
    max-width: 60%;
    line-height: 1.4;
    margin: 0 auto;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa iframe {
    width: 100%;
    max-width: 100vh;
    height: 67vh;
    border: 0;
}

#grafico {
    padding: 8em;
}

#grafico {
    background-color: rgb(255, 228, 234);
    padding-top: 3em;
}

#grafico > p {
    font-family: "Syne";
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2.2em;
    font-size: 1em;
    max-width: 66%;
    line-height: 1.4;
    margin: 0 auto;
}

#grafico > div {
    width: 100%;
    max-width: 38em;
    margin: auto;
}


body {
    background-color: white;
}

/* media queries para tablet */

@media (min-width: 430px) and (max-width: 1250px) {

    .main {
        font-size: 5.25em;
        flex-direction: column;
        text-align: center;
        padding-top: 42%;
    }

    .menu-barras {
        display: block;
        position: fixed;
        cursor: pointer;
        top: 1em;
        left: 1em;
        z-index: 2000;
        font-size: 2.5em;
        margin-top: 0.75em;
        color: rgb(226, 148, 167);
    }

    .menu-responsive {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: rgb(226, 148, 167);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1900;
    }

    .menu-responsive ul {
        list-style: none;
    }

    .menu-responsive li {
        margin: 3em;
    }

    .menu-responsive a {
        text-decoration: none;
        font-size: 2.5em;
        color: white;
        transition: color 0.2s ease;
        font-family: "Special Gothic Expanded One"
    }

    .menu-responsive a:hover {
        text-decoration: underline;
        text-decoration-color: #ffffff;
        text-decoration-thickness: 0.2em;
    }

    .menu-responsive.activo {
        transform: translateX(0);
    }

    #cerrar-menu {
        position: absolute;
        top: 1.2em;
        right: 1.2em;
        font-size: 3.5em;
        cursor: pointer;
        display: block;
        color: white;
    }

    .menu-nav {
        display: none;
    }

    h1 {
        font-size: 2.65em;
        text-align: center;
        max-width: 14em;
        margin: 0 auto;
    }

    h2 {
        font-size: 1.8em;
        padding-bottom: 0.8em;
    }

    #intro {
        padding-bottom: 4em;
    }

    .intro-cont {
        flex-direction: column-reverse;
        gap: 1em;
        padding-top: 1em;
    }

    .intro-cont > p {
        text-align: justify;
        max-width: 35.7em;
        font-size: 1.05em;
    }

    .img-intro {
        width: 50%;
    }

    #goshuin {
        padding-bottom: 3em;
    }

    #goshuin > p {
        max-width: 34em;
        font-size: 1.05em;
    }

    #contacto > p {
        font-size: 1.05em;
        max-width: 34.5em;
    }
    
    .footer-cont {
        flex-direction: column;
        padding-bottom: 2em;
    }

    .logo {
        width: 43.5%;
    }

    .iconos, .contacto {
        font-size: 1.7em;
        padding-top: 0.8em;
    }

    #intro-templos > p {
        max-width: 33em;
    }

    .carrusel img {
        width: 100%;
        height: 33vh;
        object-fit: cover;
    }
    
    .carrusel {
        height: 30vh;
    }

    .mapa iframe {
        height: 50vh;
        width: 70%;
    }

    #ubi > p {
        max-width: 32em;
    }

    #grafico > p {
        max-width: 33em;
    }

}

@media (max-width: 600px) {
    .main {
        font-size: 3em;
        flex-direction: column;
        text-align: center;
        padding-top: 75%;
    }

    .fondo {
        background-size: cover;         
        background-position: center;
        background-attachment: scroll;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .menu-barras {
        top: 1em;
        left: 1em;
        font-size: 1.5em;
    }

    .menu-responsive {
        position: fixed;
        justify-content: center;
        text-align: center;
    }

    .menu-responsive li {
        margin: 2em;
    }

    .menu-responsive a {
        font-size: 2em;
    }

    #cerrar-menu {
        top: 1em;
        right: 1em;
        font-size: 1.7em;
    }

    .menu-nav {
        display: none;
    }

    h1 {
        font-size: 1.8em;
        text-align: center;
        max-width: 10em;
        margin: 0 auto;
    }

    h2 {
        font-size: 1em;
        padding-bottom: 0.8em;
    }

    .img-intro {
        width: 60%;
    }

    .intro-cont > p {
        max-width: 16.5em;
    }

    #goshuin > p {
        max-width: 17em;
        text-align: justify;
    }

    .gosh-img {
        flex-direction: column;
        width: 100vh;
    }

    .gosh {
        width: 100%;
    }

    #contacto > p {
        max-width: 17em;
    }

    .boton {
        max-width: 40%;
        height: 2em;
    }

    .footer-cont {
        flex-direction: column;
        padding-bottom: 2em;
    }

    .logo {
        width: 38%;
    }

    .iconos, .contacto {
        font-size: 1em;
        padding-top: 0.8em;
    }

    #intro-templos > p {
        max-width: 16em;
        text-align: justify;
    }

    .t-1 > p {
        max-width: 17.5em;
        text-align: justify;
    }

    .carrusel img {
        width: 100%;
        height: 43vh;
        object-fit: cover;
    }
    
    .carrusel {
        height: 35vh;
        width: 70%;
    }

    #ubi > p {
        max-width: 17em;
        text-align: justify;
    }

    #grafico > p {
        max-width: 20em;
    }









}